* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #99e1d9;
}

.list {
  padding-left: 4%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
}

.list_tid{
    padding-left: 4%;
  display: flex;
  flex-wrap: wrap;
    padding-top: 5%;
}

header,
aside {
  background-color: #5d576b;
  width: 20%;
  padding: 1%;
}

main {
  width: 60%;
}

.text_center {
  display: flex;
  justify-content: center;
}

.two-col-container {
  display: flex;
}

.howto,
.ingredients {
  flex: 50%;
  padding: 50px;
}

.main_img {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.Home_page_img {
    
    display: flex;
    justify-content: center;    
    padding-top:5%;
    padding-bottom:5%;
    width: 100%;
  
}

.Recept_link_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recept-box {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4%;
}


.reklam{
    width: 100%;
    
}